@import "../../../common/styles/sass/variables";

.actionBlock {
  align-items: center;
  background-color: $BgColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  min-height: 80vh;
  position: relative;

  .container {
    width: 50%;
    margin-left: 97px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    .h1 {
      width: 1099px;
      margin: 0;
      text-align: left;
      font-family: 'Outfit', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 75px;
      line-height: 94px;
      color: $textColorSecond;
    }

    .text {
      width: 825px;
      padding-top: 18px;
      font-family: 'Outfit', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 42px;
      color: $textColorSecond;
      text-align: left;
    }

    .button {
      width: 442px;
      height: 97px;
      margin-top: 55px;
      background-color: $buttonSecondColor;
      display: flex;
      justify-content: center;
      align-items: center;
      .textButton {
        color: $textColorSecond;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.265em;
        text-transform: uppercase;
      }
    }
  }
}