$textColorFirst: #3A5041;
$textColorSecond: #FFFFFF;
$textColorThird: #161616;
$textColorFour: #BEBFBE;
$textColorFive: #888887;
$textColorSix: #00264B;
$primaryColor: #3A5041;
$BgColor: #FFFFFF;
$buttonFirstColor: #636A6A;
$buttonSecondColor: #B58269;
$footerColor: #232323;
$textFont: 'Outfit', sans-serif;